@media (max-width: 768px) {
    
    .nav-menu {
        display: none; 
    }

    .hamburger {
        display: inline-block; 
    }

    header {
        position: relative;
        padding: 15px;
        height: 70px;
    }

    .logo {
        z-index: 1001;
        position: relative;
    }

    
    .founder-speech {
        flex-direction: column;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
    
    .gallery-container {
        grid-template-columns: 1fr;
    }
    
    main section {
        padding: 1.5rem;
    }

    .teacher-profiles {
        flex-direction: column;
        align-items: center;
    }
    
    .teacher-card {
        max-width: 100%;
    }

    .about-programs, .about-pedagogy {
        flex-direction: column;
    }
    
    .program-image, .pedagogy-image {
        order: -1; 
    }
    
    .program-image img, .pedagogy-image img {
        width: 100%;
        height: auto;
        max-height: 400px;
    }
}