@media (min-width: 768px) {
    .wf1 {
        width: 600px; 
        padding: 20px;
        margin: 20px auto;
    }

    .overall_rating {
        flex-wrap: nowrap; 
    }

    .rating label {
        font-size: 1.2rem; 
    }
    .confirmation {
        max-width: 400px; 
        width: 90%;
        padding: 30px; 
        margin: 30px auto; 
        font-size: 1.4rem; 
    }

    .confirmation img {
        width: 150px; 
        height: 150px;
    }
}