:root {
    --primary-color: #e5924a;
    --secondary-color: #05033b; 
    --background-color-light: #8ba4a5; 
    --background-color-mid: #54AD87; 
    --intro-color: aliceblue;
  }

  * {
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    width: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color); /* use of the variable */
    padding: 20px;
    color: var(--secondary-color); /* use of the variable */
  }
  
  .weather-section h2 img {
    margin-left: 10px;
  }
  .weather-section img {
    width: 50px;
    height: 50px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .intro-section {
    background-color: var(--background-color-mid); /* use of the variable */
    justify-self: stretch;
    margin: 0;
    color: var(--intro-color); /* use of the variable */
    padding: 5px;
    text-align: center;
    width: 100%;
    height: auto;
  }
  
  .data-section,
  .weather-section {
    background-color: var(--background-color-light); /* use of the variable */
    color: var(--secondary-color); /* use of the variable */
    padding: 5px;
    text-align: center;
    width: auto;
    height: auto;
  }
  
  .data-section h2,
  .weather-section h2 {
    margin: 0;
  }
  
  .image-container {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    color: var(--secondary-color); /* use of the variable */
    padding: 5px;
    text-align: center;
    width: auto;
    height: auto;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  .image-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--background-color-light); /* use of the variable */
  }
  
  footer {
    background-color: var(--primary-color); /* use of the variable */
    color: var(--secondary-color); /* use of the variable */
    padding: 5px;
    text-align: center;
    width: auto;
    height: 50px;
  }