@media (min-width: 800px) {
    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #dfe3e1;
        }
    .intro-section {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .data-section {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-radius: 5px;
        background-color: #8ba4a5
    }


    .weather-section {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        border-radius: 5px;
        background-color: #8ba4a5;
    }

    .data-section h2,
    .weather-section h2 {
        justify-self: stretch;
        width: 100%;
        margin: 0;
        background-color: #54AD87;
        background-size: cover; 
        background-position: center;
        color: #05033b;
        border-radius: 10px;
    }
        
    .weather-section h2,
    .data-section h2 {
        color: aliceblue;
        display: flex;
        align-items: center;
    }
    .image-container {
        grid-column: 1 / 4;
        grid-row: 2 / 4;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .image-container img {
        width: 100%;
        height: auto;
    }

}