* {
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    width: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0dbb2;
    padding: 20px;
    color: #05033b;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #0b1146;
    font-size: 18px;
    padding: 5px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #4fdcef;
    border-radius: 5px;
    background-image: linear-gradient(to right, #03D7F7, rgb(139, 136, 136));
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.nav-links {
    display: none;
    list-style: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
}

h2 {
    margin: 10px;
    text-align: center;
}

.item figcaption {
    margin-top: 10px;
    font-size: 16px;
    color: #333333;
}

footer {
    background-color: #f0dbb2;
    color: #05033b;
    padding: 5px;
    text-align: center;
    width: auto;
    height: 50px;
}

@media (max-width: 800px) {
    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}